// /src/styles/overrides.scss

@use 'vuetify' with (
  $color-pack: false,
  $font-size-root: 14px,
  $body-font-family: 'Pretendard'
);

$sizes: (
  'text-13': 13px,
  'text-16': 16px,
  'text-18': 18px,
  'text-20': 20px,
  'text-24': 24px,
  'text-30': 30px,
  'text-48': 48px,
  'text-68': 68px
);

@each $pixel, $size in $sizes {
  .#{$pixel} {
    font-size: $size;
  }
}

// CSS Overrides --fc full calendar
:root {
  --fc-small-font-size: 0.85em;
  --fc-page-bg-color: #fff;
  --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
  --fc-neutral-text-color: #808080;
  --fc-border-color: #939393;
}

.font-weight-semi-bold {
  font-weight: 600;
}